.container1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.left-container {
  flex: 20%;
  height: 600px;
  padding: 20px;
  margin-top: 95px;
  margin-bottom: 50px;
  margin-left: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: #e61a1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(1,1,1,1);
  position: relative;
  z-index: 2;
}

.bg1 {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.left-container img {
  width: 80px;
  margin-bottom: 20px;
}

.left-container h1 {
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  font-family: poppins;
}

.right-container {
  flex: 80%;
  padding: 20px;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: -20px; 
  margin-right: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 7px rgba(1,1,1,1);  position: relative;
  z-index: 1;
}

.header {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.text {
  color: #d62424;
}

.inputs {
  margin-bottom: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #e6e4e4;
  border-radius: 7px;
}

img {
  width: 20px;
  margin-right: 10px;
  margin-left: 9px;
}

input {
  width: 380px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
  background-color: transparent;
  color: #000;
}

.button {
  width: 180px;
  padding: 12px;
  background-color: #d62424;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(249, 103, 103);
}

.submit-container {
  text-align: center;
}

.button1 {
  width: 180px;
  padding: 12px;
  background: #6c0303;
  color: #fff;
  font-size: 18px;
  border-color: rgba(216, 5, 5, 0.753);
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logo {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.towhite {
  color: white;
}

.forgot-password {
  font-size: 14px;
  color: #555;
  margin-top: -28px;
  margin-right: 220px;
  margin-bottom: 14px;
}

.forgot-password span {
  color: #d62424;
  cursor: pointer;
}

.logoD {
  height: fit-content;
  width: fit-content;
}
